/* .extra-menu {} */

.extra-menu__list {
  display: flex;
  column-gap: 24px;
  row-gap: 10px;
  flex-wrap: wrap;
}

.extra-menu__item {
 padding-bottom: 13px;
}

.extra-menu__link {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  white-space: nowrap;
  padding-bottom: 8px;
  color: var(--grey-3);
}

.extra-menu__link_activ {
  color: var(--black);
  border-bottom: 5px solid #000;
}