.sidebar-menu {
  min-width: 229px;
  font-family: 'Inter';
  color: var(--black);
}

.sidebar-menu__card:not(:last-child) {
  margin-bottom: 32px;
}

.sidebar-menu__title {
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 16px;
}

.sidebar-menu__list {
  font-size: 14px;
  line-height: 22px;
}

.sidebar-menu__item:not(:last-child) {
  margin-bottom: 4px;
}

.sidebar-menu__link {
  color: var(--black);
  cursor: pointer;
}

.sidebar-menu__link_active {
  color: #D84910;
}