.sidebar-menu {
  min-width: 229px;
  font-family: 'Inter';
  color: var(--black);
}

.sidebar-menu__card:not(:last-child) {
  margin-bottom: 32px;
}
.sidebar-menu__card_burger-menu {
  padding-top: 24px;
}
.sidebar-menu__card_burger-menu:not(:last-child) {
  margin-bottom: 0px;
  padding-bottom: 24px;
  border-bottom: 1px solid var(--grey-2);
}

.sidebar-menu__title {
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 16px;
}
.sidebar-menu__title_burger-menu {
  color: var(--grey-3);
}
.sidebar-menu__list {
  font-size: 14px;
  line-height: 22px;
}

.sidebar-menu__list_burger-menu {
  font-size: 16px;
  line-height: 24px;
}

.sidebar-menu__item:not(:last-child) {
  margin-bottom: 4px;
}

.sidebar-menu__item_burger-menu:not(:last-child) {
  margin-bottom: 16px;
}

.sidebar-menu__link {
  color: var(--black);
  cursor: pointer;
}

.sidebar-menu__link_active {
  color: #D84910;
}