.main {
  padding: 23px 0 30px;
  background: var(--grey-1);
  border-top: 1px solid var(--grey-2);
  border-bottom: 1px solid var(--grey-2);
  text-align: center;
}

.main_page-component {
  padding-top: 32px;
  background: var(--white);
  border: none;
  text-align: left;
}

.main__list {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 1fr);
  gap: 16px;
  margin-bottom: 30px;
}

.main__sidebar {
  display: none;
  min-width: 229px;
}
.main__sidebar>*:not(:last-child) {
  margin-bottom: 32px;
}

@media (min-width: 576px) {
  .main__list {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}

@media (min-width: 992px) {
  .main {
    padding: 68px 0 92px;
  }
  .main_page-component {
    background: var(--grey-1);
    padding: 60px 0 0;
  }
  .main__list {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
    margin-bottom: 64px;
  }

  .main__body {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 56px;
  }

  .main__sidebar {
    display: block;
  }
}