@import '../fonts/fonts.css';
@import './reset.css';
@import '../../components/page/page.css';
@import '../../components/header/header.css';
@import '../../components/main/main.css';
@import '../../components/footer/footer.css';
@import '../../components/container/container.css';
@import '../../components/sidebar/sidebar.css';
@import '../../components/component/component.css';
@import '../../04-lection2/01-histogram/histogram.css';

@import '../../03-lection1/01-button/button.css';
@import '../../components/menu/menu.css';
@import '../../components/extra-menu/extra-menu.css';
@import '../../components/container/container.css';
@import '../../components/preview-card/preview-card.css';
@import '../../04-lection2/01-histogram/histogram.css';
@import '../../07-lection5/03-toggler/toggler.css';



:root {
    --white: #ffffff;
    --black: #212429;
    --pink: #F784AD;
    --purple: #7048E8;
    --blue: #4263EB;
    --red: #F03D3E;
    --grey-1: #F8F9FA;
    --grey-2: #DDE2E5;
    --grey-3: #ACB5BD;
    --grey-4: #495057;

    --error: var(--red);
    --success: var(--blue);

    --primary: var(--blue);
    --secondary: var(--purple);

    --primary-hover: #2342C0;
    --secondary-hover: #5028C6;

    --grey-gradient:linear-gradient(92.51deg, #DDE2E5 6.44%, #E2E6E8 38.47%, #F3F5F5 56.48%, #E3E7EA 77.5%, #DDE2E5 102.52%);
}


body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: var(--black);
}

.preload * {
  transition: none !important;
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}