.calendar {
  background: var(--white);
  border: 1px solid var(--grey-3);
  border-radius: 8px;
  width: 100%;
  max-width: 304px;
  padding: 28px 30px 34px;
  font-family: 'Inter';
  text-align: center;
}
.calendar_preview {
  padding: 0px;
  border: none;
}
.calendar__title {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #334D6E;
  margin-bottom: 24px;
}

.calendar__wrapper {
  padding-bottom: 100%;
  position: relative;
}

.calendar__inner {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(7, 1fr);
  align-items: center; 
}

.calendar__item {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #334D6E;
  padding: 6px 4px;
}

.calendar__item_day {
  font-family: 'Inter';
  align-self: start;
  font-size: 14px;
  line-height: 20px;
  color: #90A0B7;
  padding: 0px 0px 18px;
}

.calendar__item_number-blue {
  color: var(--white);
  background: #4263EB;
}

.calendar__item_number {
  background: rgb(160, 177, 245, 0.2);
}