.component {
  padding: 32px 48px;
  background-color: var(--white);
  box-shadow: 0px 2px 4px rgba(33, 36, 41, 0.05);
  border-radius: 12px;
}

.component__title {
  font-size: 28px;
  line-height: 38px;
  color: var(--grey-4);
  margin-bottom: 24px;
}