.preview-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 350px;
  height: 367px;
  color: var(--black);
  background-color: var(--white);
  box-shadow: 0px 2px 4px rgba(33, 36, 41, 0.05);
  border-radius: 12px;
  }

.preview-card__footer {
  text-align: center;
  margin-bottom: 32px;
}

.preview-card__title {
  margin-bottom: 6px;
  font-weight: 500;
  font-size: 21px;
  line-height: 25px;
}
.preview-card__description {
font-size: 16px;
line-height: 19px;
}
.preview-card__histogram {
  margin: 61px 25px 0;
}